<section class="signup-section w-100 h-100 d-flex">

  <article class="card card-centered p-3">
    <h2 class="d-block mb-2">
      New Trainer Information
    </h2>

    <div class="signup-form">
      <div class="d-block mt-2">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Full Name</mat-label>
          <input
            type="email"
            class="w-100"
            matInput
            formControlName="userName"
            placeholder="pokemon trainer name">
        </mat-form-field>
      </div>

      <div class="d-block mt-2">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Email</mat-label>
          <input
            type="email"
            class="w-100"
            matInput
            formControlName="userName"
            placeholder="pokemon trainer email">
        </mat-form-field>
      </div>

      <div class="d-block mt-2">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Password</mat-label>
          <input
            type="email"
            class="w-100"
            matInput
            formControlName="userName"
            placeholder="Password">
        </mat-form-field>
      </div>

      <div class="d-block mt-2">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Confirm Password</mat-label>
          <input
            type="email"
            class="w-100"
            matInput
            formControlName="userName"
            placeholder="Confirm your password">
        </mat-form-field>
      </div>

      <div class="d-block mt-4">
        <button mat-button
          type="submit"
          mat-flat-button
          color="primary"
          class="w-100 h-48-px">
          Create Trainer
        </button>
      </div>

      <div class="d-block mt-2">
        <button mat-button
          type="submit"
          mat-flat-button
          class="w-100 h-48-px">
          Cancel
        </button>
      </div>

    </div>
  </article>
</section>
